<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/restaurants">Restaurants</a></li>
  <li><a href="/restaurants/new">New Restaurant</a></li>
  <li><a href="/boba_shops">Boba Shops</a></li>
  <li><a href="/boba_shops/new">New Boba Shop</a></li>
  <li><a href="/drinks">Drinks</a></li>
  <li><a href="/drinks/new">New Drink</a></li>
</ul>
