<a href="/">Home</a>
<a href="/boba_shops">Boba Shops Index</a>
<a href="/drinks">Drinks Index</a>
<a href='/restaurants'>Restaurants Index</a>
<a href='/pastas'>Pastas Index</a>

<h1>All Boba Shops</h1>
<p><a href="/boba_shops/new">New Boba Shop</a></p>

<% @boba_shops.each do |boba_shop| %>
  <section id='boba_shop-<%= boba_shop.id %>'>
    <h3><a href='/boba_shops/<%= boba_shop.id %>'><%= boba_shop.name %></a> created at <%= boba_shop.created_at %></h3>
  </section>
<% end %>
